// Заголовки, общие БЄМ блоки и проче...

.main{
    position: relative;
    display: flex;
    flex-direction: row;
    &__filter{
        display: flex;
        flex-direction: row;
    }
    &__left-block{
        width: 50%;
    }
    &__chronos-item{
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        padding: 8px 0;
    }
    &__chronos-content{
        &_ruler{
            grid-column: 1 / 2;
        }
        &_religion{
            grid-column: 2 / 3;
        }
        &_science{
            grid-column: 4 / 5;
        }
        &_wars{
            grid-column: 5 / 6;
            
        }
    }
    div[data-active='true'] {
        background-color: indianred;
    }
    div[data-active='false'] {
        background-color: #f0ffff;
        transition-duration: .2s;
        &:hover{
            background-color: #e0e5e5;
        }
    }
    &__discription{
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 0;
        width: 50%;
        height: 100%;
        border: 1px dotted gray;

    }
    &__king-avatar{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}